<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GENTotalesBancos.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <applicationSettings>
        <GENTotalesBancos.My.MySettings>
            <setting name="vgServerOperador" serializeAs="String">
                <value>DBLIRELA</value>
            </setting>
            <setting name="vgServerReporteria" serializeAs="String">
                <value>DBLIRELA</value>
            </setting>
            <setting name="vgServerPlataforma" serializeAs="String">
                <value>DBLIRELA</value>
            </setting>
            <setting name="vgOrigenBGOl" serializeAs="String">
                <value>LGBVI,LGBVE,NEOBO,VPNBG,EFECM,OTPCR,OTPNW,NEOVL,PEIBG</value>
            </setting>
        </GENTotalesBancos.My.MySettings>
    </applicationSettings>
</configuration>
